{% extends 'index.layout.html.twig' %}

{% block body %}
    <section class="content">

        {%if isLoggedIn() %}
            <h1>Делайте ставки!</h1>

            <h2>Мой баланс</h2>
            <span id="user-amounts-{{ getUserId() }}">
                {% if amounts %}
                    {% include 'shared/user_amounts.html.twig' with { amounts_array: amounts } %}
                {% else %}
                    ---
                {% endif %}
            </span>

            <h2>Матчи</h2>
            <table class="table-responsive">
                <thead>
                <tr>
                    <th>Матч</th>
                    <th>Победа первой команды</th>
                    <th>ничья</th>
                    <th>Победа второй команды</th>
                    <th>Ставка</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for match in matches %}
                    <tr>
                        <td>{{ match.win }} — {{ match.loss }}</td>
                        <td>{{ match.odds.win }}</td>
                        <td>{{ match.odds.draw }}</td>
                        <td>{{ match.odds.loss }}</td>
                        <td>
                            <input type="number" min="1" max="500" step="1" class="stake" value="10">
                            <select class="currency">
                                {% for val, label in currencies %}
                                    <option value="{{ val }}" >{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button class="bet" data-id="{{ match.id }}" data-outcome="win" data-coefficient="{{ match.odds.win }}">Победа первой команды</button>
                            <button class="bet" data-id="{{ match.id }}" data-outcome="draw" data-coefficient="{{ match.odds.draw }}">ничья</button>
                            <button class="bet" data-id="{{ match.id }}" data-outcome="loss" data-coefficient="{{ match.odds.loss }}">Победа второй команды</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>Мои ставки</h2>
            <table class="table-responsive">
            </table>
        {% else %}
            <h1>Привет гость</h1>

            <p><a href="/users/registration">Зарегистрируйтся</a> или <a href="/users/login">авторизуйся</a> для начала</p>
        {% endif %}

    </section>
{% endblock %}


{% block javascripts %}
<script>
    $(document).on('click', '.bet', function (e) {
        e.preventDefault();

        const $btn = $(this);
        const $row = $btn.closest('tr');              // ищем всю строку
        const $inputStake = $row.find('input.stake').first(); // инпут в этой строке
        const $inputCurrency = $row.find('select.currency').first();

        var data = {
            currency_id: $inputCurrency.val(),
            match_id: $btn.data('id'),
            outcome: $btn.data('outcome'),
            coefficient: $btn.data('coefficient'),
            stake: $inputStake.val(),
            csrf: '{{ csrf_token() }}'
        };

        $.ajax({
            url: '/users/bet',
            method: 'POST',
            data: data,
            dataType: 'json',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Accept': 'application/json'
            },
            success: function (resp, status, xhr) {
                if (resp?.ok) {
                    // успех — редирект или сообщение
                    //window.location = resp.redirect || '/';

                    alert(resp?.status);

                    // перерисуем кусочек с балансами
                    $('#user-amounts-{{ getUserId() }}').html(resp?.amountsHtml);

                    return;
                }
                if (resp?.error) {
                    renderErrors($form, resp.error);
                    return;
                }
                // если сервер вернул HTML вместо JSON — заменим форму (fallback)
                if (xhr.getResponseHeader('Content-Type')?.includes('text/html')) {
                    $form.replaceWith(resp);
                }
            },
            error: function (xhr) {
                if (xhr.status === 422 || xhr.status === 409 || xhr.status === 400) {
                    const json = xhr.responseJSON || {};
                    alert(json.error);
                } else {
                    alert('Ошибка сервера. Попробуйте позже.');
                }
            },
            // complete: function () {
            //     $btn.prop('disabled', false);
            // }
        });
    });
</script>
{% endblock %}