{% extends 'index.layout.html.twig' %}

{% block body %}
    <h1>The Genus {{ getUser().name }} isLoggedIn: {{ isLoggedIn() }} </h1>

    user is admin {{ isAdmin() }}

    {{ var_dump(getUser()) }}

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
{% endblock %}


{% block javascripts %}
<script>
    $(function() {
        console.log('jQuery ready!');
    });
</script>
{% endblock %}